{% macro room_label(text, value) %}
    <div class="row">
        <div class="col-2">
            <b>{{text}}</b>
        </div>
        <div class="col-10">
            <label>
                {% if value is boolean %}
                    {% if value %} 
                    <i class="bi bi-check-square-fill"></i>
                    {% else %}
                    <i class="bi bi-x-square-fill"></i>
                    {% endif %}
                {% else %}
                    {{ value }}
                {% endif %}
            </label>
        </div>
    </div>
{% endmacro %}