{% macro table(headings, data) %}
    <table class="table table-striped-columns">
    <thead>
        <tr>
            {% for header in headings %}
            <th scope="col">{{ header}}</th>
            {% endfor %}
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        {{ table_row(data)}}
    </tbody>
    </table>
{% endmacro %}


{% macro table_row(data)%}
    {% for row in data %}
    <tr>
        {% set row_id = row[0] %}
        {% for cell in row %}
        <td>
            {% if cell is boolean %}
                {% if cell %} 
                <i class="bi bi-check-square-fill fs-4"></i>
                {% else %}
                <i class="bi bi-x-square-fill fs-4"></i>
                {% endif %}
            {% else %}
                {{ cell }}
            {% endif %}
        </td>
        {% endfor %}
        <td>
            {# Updated button with onclick handler #}
            <button type="button" class="btn" onclick="window.location.href='{{ url_for('app.room', id=row_id) }}'">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
{% endmacro %}