# NetBeans specific
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/build-impl.xml
**/nbproject/genfiles.properties
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Tomcat
server/
target/
tomcat*/

# Ivy
.ivy/
ivy-*.xml.md5
ivy-*.xml.sha1
repository/

# Logs and databases
*.log
*.sqlite
*.db

# Java annotation processor
.apt_generated/