{% macro table(headings, data) %}
    <div class="card shadow rounded">
        <div class="card-body">
            <table class="table table-striped-columns">
            <thead>
                <tr>
                    {% for header in headings %}
                    <th scope="col">{{ header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {{ table_row(data)}}
            </tbody>
            </table>
        </div>
    </div>
{% endmacro %}


{% macro table_row(data)%}
    {% for row in data %}
    <tr>
        {% for cell in row %}
        <td>
            {% if cell is boolean %}
                {% if cell %} 
                <i class="bi bi-check-square-fill fs-4"></i>
                {% else %}
                <i class="bi bi-x-square-fill fs-4"></i>
                {% endif %}
            {% else %}
                {{ cell }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor%}
{% endmacro %}